//Variables

$website-width: 1280px;
$main-color: rgb(255, 187, 0);
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url("../dist/img/castleshowcase.jpg");
$scubaIcon: url("/dist/img/scubadiverWhiteIcon.png");
